@page {
  size: A4;
  margin: 20mm;
}
@media print{
    .section{
        break-inside: avoid;
    }
    .body {
        margin: 1em;
    }
}
*{
    margin: 0;
    padding: 0;
}
/* General */

.body{
    width: 210mm;
    height: 297mm;
    margin: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.body hr{
    margin-bottom: 2em;
    /* box-shadow: 0 0 10px teal; */
}
/* Header */
header{
    display: flex;
    flex-direction: column;
    gap:2em;
    padding: 0 2em;
}
header #presentation{
    margin: auto;
    text-align: center;
}
header #presentation img{
    width: 10em;
    border: 1px solid teal;
    border-radius: 50%;
    box-shadow: 0 0 10px teal;
}
header #contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
header #contacto img{
    width: 1.5em;
}
header #contacto .dataContact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1em;
}
header a{
    text-decoration: none;
    color:#020202;
}
/* Section */

.section{
    padding-left: 2em;
    break-inside: avoid;
}
.section ul li{
    margin-left: 2em;
}
.section h3{
    margin-bottom: 0.5em;
}
/* listas */
.listas{
    display: flex;
    flex-direction: column;
    gap:1em;
}

 /* Information */
.data{
    display: flex;
    flex-direction: column;
    gap:2em
}

/* background */
#jobs{
    display: flex;
    flex-direction: column;
    gap:2em
}