*{
    margin: 0;
    padding: 0;
}
.body{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
/* Header */
header{
    display: flex;
    flex-direction: column;
    gap:2em;
    padding: 0 2em;
}
header #presentation{
    margin: auto;
    text-align: center;
}
header #presentation img{
    width: 10em;
    border-radius: 50%;
}
header #contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
header #contacto img{
    width: 1.5em;
}
header #contacto .dataContact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1em;
}
/* Section */

.section{
    padding-left: 2em;
}
.section ul li{
    margin-left: 2em;
}
 /* Information */
.data{
    display: flex;
    flex-direction: column;
    gap:2em
}